# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore
.github

# Environment files
.env
.env.*
!.env.example

# Editor files
.vscode
.idea

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Documentation
README.md
doc/
docs/

# Temporary files
coverage/