NODE_ENV=development

DATABASE_URL=

REDIS_URL=

JWT_SECRET=

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

OPENAI_API_KEY=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

PORT=5000